.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    column-gap: 10%;
}
.p-header{
    padding: 12px;
    border-radius: 8%;
}
.p-header:hover {
    cursor: pointer;
    transition: background-color 0.15s;
    background-color: rgba(226, 226, 226, 0.3) ;
    
}
#herb img{
    margin-top: 45px;
    height: 90px;
}

@media screen and (max-width: 768px) {
    #herb{
        display: none;
    }
    .header{
        column-gap: 5%;
        position:absolute
    }
  }
