main{
    column-gap: 20px;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 18px;
    margin-bottom: 90px;
}
.main-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
    column-gap: 5%;
    margin-bottom: 40px;
}
.text{
    flex: 1;
    font-size: 18px;
}
.terminarz{
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
    border: 2px solid black;
}
.cennik{
    display: flex;
}
.cennik p{
    border: 2px solid black;
    padding: 20px;
    flex: 1;
    text-align: center;
}
#eq{
    display: flex;
}
.e1-or{
    flex: 1;
}

.map{
    display: flex;
    align-items: center
}
#mapa{
    cursor: pointer;
    border-radius: 2%;
    flex: 1;
    width: 100%;
}

.photo-main {
    flex: 1;
    border-radius: 2%;
    width: 50%;
}

@media screen and (max-width: 900px) {
    .main-div{
        flex-direction: column;
    }
    .text{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        font-size: 18px;
    }
    .photo-main{
        width: 100%;

    }
  }

  @media screen and (max-width: 900px) {
    .text{
       font-size: 14px;
    }
  }

  