.test {
    background-color: aqua;
    width: 100%;
    height: 200px;
    row-gap: 10px;
    column-gap: 10px;
}
@media screen and (max-width: 800px) {
    .test {
        background-color: green;
        width: 100%;
        height: 200px;
        row-gap: 10px;
        float: left;
        column-gap: 10px;
    }
  }
  